* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background: linear-gradient(120deg, #51515150, #525252);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}

#form-container {
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input {
    padding: 8px;
    font-size: 16px;
    text-align: center;
    border-radius: 5px;
    border: none;
}

button {
    padding: 10px;
    background-color: #111;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #333;
}

.countdown {
    display: flex;
    gap: 30px;
    display: none; /* Inicialmente oculto */
}

.time-section {
    text-align: center;
    font-size: 30px;
    color: white;
}

.time-group {
    display: flex;
    gap: 10px;
}

.time-segment {
    display: block;
    font-size: 100px;
    font-weight: 900;
    width: 100px;
    text-align: center;
    background: black;
    color: white;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.segment-display {
    position: relative;
    height: 100%;
}

.segment-display__top,
.segment-display__bottom {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.5;
}

.segment-display__top {
    background-color: #111;
    color: white;
}

.segment-display__bottom {
    background-color: #333;
    color: white;
}

.segment-overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    perspective: 400px;
}

.segment-overlay__top,
.segment-overlay__bottom {
    position: absolute;
    width: 100%;
    height: 50%;
    text-align: center;
    overflow: hidden;
}

.segment-overlay__top {
    top: 0;
    background-color: #111;
    color: white;
}

.segment-overlay__bottom {
    bottom: 0;
    background-color: #333;
    color: white;
    border-top: 2px solid black;
}

.segment-overlay.flip .segment-overlay__top {
    animation: flip-top 0.8s linear;
}

.segment-overlay.flip .segment-overlay__bottom {
    animation: flip-bottom 0.8s linear;
}

@keyframes flip-top {
    0% {
        transform: rotateX(0deg);
    }
    50%,
    100% {
        transform: rotateX(-90deg);
    }
}

@keyframes flip-bottom {
    0%,
    50% {
        transform: rotateX(90deg);
    }
    100% {
        transform: rotateX(0deg);
    }
}
